@using Microsoft.AspNet.Identity
@using WebApplication2.Controllers

@model WebApplication2.Models.DModel

@if (Request.IsAuthenticated)
{
    BusketController controller = new BusketController();
    var busketId = User.Identity.GetUserId();
    if (controller.IsAdded(busketId, Model.Id))
    {
        <a id="alreadyAdded">Добавлено</a>
        <a href="/Busket/Create" id="tobuy">Купити</a>
    }
    else
    {
        <a href="@Url.Action("AddToBusket", "Busket", new { Id = Model.Id  }, null)" id="tobusket">В корзину</a>
        <a href="/Busket/Create" id="tobuy">Купити</a>
    }
}
else
{

}
