@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Профіль", "GetProfile", "Account")
    @Html.ActionLink("Корзина", "Index", "DModels")
}
else
{
    <a>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>  
}
