@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="threecolumn.html">Профіль</a>
    <a href="threecolumn.html">Корзина</a>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Вихід</a>
       
    }
}
else
{
    <a>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>  
}
